[workspace]
members = ["python-module"]

[package]
name = "keyring"
version = "4.0.0-alpha.2"
edition = "2024"

[dependencies]
keyring-core = { version = "0.7", features = ["sample"] }

[target.'cfg(target_os = "macos")'.dependencies]
apple-native-keyring-store = { version = "0.2", features = ["keychain"] }

[target.'cfg(target_os = "linux")'.dependencies]
linux-keyutils-keyring-store = { version = "0.2" }

[target.'cfg(any(target_os = "linux", target_os = "freebsd"))'.dependencies]
dbus-secret-service-keyring-store = { version = "0.3", features = ["crypto-rust"] }
zbus-secret-service-keyring-store = { version = "0.2", features = ["rt-async-io-crypto-rust"] }

[target.'cfg(target_os = "windows")'.dependencies]
windows-native-keyring-store = { version = "0.4" }
